<%- include('navbar') -%>
<html>
    <title>Portfolio Manager</title>

    <body>
        <center>
            <h1>Welcome to the stock trading website !!!</h1>
            <p>Login/Register to access all the facilities</p>
        </center>
    </body>
</html>